#[submodule "src/ijepa"]
#	path = src/ijepa
#	url = git@github.com:facebookresearch/ijepa.git
[submodule "docs/report"]
	path = docs/report
	url = https://git@git.overleaf.com/69100e59fb8600eeeb269bc8
[submodule "src/lejepa"]
	path = src/lejepa
	url = git@github.com:rbalestr-lab/lejepa.git
