torch
numpy
opencv-python
torchvision
tqdm
seaborn
pandas
matplotlib
networkx
typeguard
pyyaml
ipywidgets
jupyter 
jupyterlab
ipympl
torchtext
librosa
torchviz
einops
x_transformers
pytorch_lightning
