torch
numpy
opencv-python
torchvision
tqdm
seaborn
pandas
matplotlib
networkx
typeguard
pyyaml
ipywidgets
jupyter 
jupyterlab
ipympl
torchtext
librosa
torchviz
einops
x_transformers
pytorch_lightning
timm
wandb
hydra-core
omegaconf
huggingface_hub
datasets>=2.16
einops>=0.7
